__MACOSX
_site/
_yardoc/
.bsp/
.bundle/
.DS_Store
.idea
.idea*
.jekyll-cache/
.jekyll-metadata
.sass-cache/
.yardoc
.yardoc/
*.gz
*.Identifier
*.iml
*.log
*.out
*.sublime*
*.swp
*.tmp
*~
/spec/reports/
~*
binstub/
coverage/
demo/spec/status_persistence.txt
doc/
Gemfile.lock
jekyll/doc/
node_modules/
Notepad++/
out/
pkg/
project/
RUNNING_PID
spec/status_persistence.txt
target/
tmp/
